@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    <li>
        Frans
    </li>
    <li>Magnus</li>
    <li>Fredrik</li>
</ul>
<h2>Courses</h2>
<ul>
    <li>
        C# (40p)
    </li>
    <li>
        Datalagring (40p)
    </li>
</ul>